.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: black;
  padding: 4rem 8rem;
}

.footer_heading {
  color: #e3caa6;
  font-family: "Inter";
  font-size: 7.27rem;
  font-style: normal;
  font-weight: 500;
  line-height: 8.7241rem; /* 120.002% */
  letter-spacing: -0.2908rem;
  animation: colorChange 3s ease-in-out infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #fff;
  }
  100% {
    color: #e3caa6;
  }
}

.footer_cta {
  display: flex;
  gap: 2rem;
  margin-left: 83rem;
  margin-top: 2rem;
  padding: 0.7rem 0.8rem 0.8rem 0.8rem;
  align-items: center;
}

.footer_cta_text {
  color: #fff;
  font-family: "Inter";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.48rem; /* 140% */
  letter-spacing: -0.128rem;
}

.footer_cta_arrow {
  width: 2rem;
  height: 2rem;
}

.footer_footer {
  display: flex;
  justify-content: space-between;
  gap: 52rem;
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.footer_social_link {
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.92rem; /* 120% */
  letter-spacing: -0.064rem;
}

.footer_call {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer_icon {
  width: 2rem;
  height: 2rem;
}

.footer_call_text {
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.56rem; /* 160% */
}
