.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
  padding: 1rem 4rem;
}

.header_name {
  color: #111;
  font-family: "Instrument Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem; /* 130% */
  letter-spacing: -0.06rem;
  transition: 0.2s ease;
  &:hover {
    color: #6c7179;
  }
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav_p {
  color: #111;
  font-family: "Instrument Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem; /* 120% */
  letter-spacing: -0.045rem;
  padding: 0.6rem 1.2rem;
  transition: 0.2s ease;
  &:hover {
    color: #6c7179;
  }
}

.header_btn {
  color: #fff;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.08rem; /* 130% */
  letter-spacing: -0.048rem;
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem;
  background: #111;
  box-shadow: 0.474px 0.474px 0.671px -0.2px rgba(0, 0, 0, 0.05),
    1.291px 1.291px 1.826px -0.4px rgba(0, 0, 0, 0.06),
    2.836px 2.836px 4.01px -0.6px rgba(0, 0, 0, 0.08),
    6.294px 6.294px 8.901px -0.8px rgba(0, 0, 0, 0.11),
    16px 16px 22.627px -1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in;
  &:hover {
    color: black;
    background: wheat;
  }
}
