.hero {
}

.hero_img {
}

.hero_hero {
  display: flex;
  padding: 0 4rem;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10rem;
  bottom: 16rem;
}

.hero_left {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero_left_cta1 {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 10rem;
  background: #fff;
  width: 17.2rem;
}

.hero_left_animation {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.hero_left_animationp {
  color: #6c7179;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.24rem; /* 140% */
  letter-spacing: -0.048rem;
}

.hero_left_header {
  color: #111;
  font-family: "Instrument Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.4rem; /* 110% */
  letter-spacing: -0.12rem;
  width: 44.8rem;
}

.hero_right {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.hero_right_header {
  color: #1f1f1f;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.24rem; /* 140% */
  letter-spacing: -0.048rem;
  width: 40rem;
}

.hero_left_animationbtn {
  width: 12.5rem;
  color: #fff;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.08rem; /* 130% */
  letter-spacing: -0.048rem;
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 1.6rem;
  background: #111;
  box-shadow: 0.474px 0.474px 0.671px -0.2px rgba(0, 0, 0, 0.05),
    1.291px 1.291px 1.826px -0.4px rgba(0, 0, 0, 0.06),
    2.836px 2.836px 4.01px -0.6px rgba(0, 0, 0, 0.08),
    6.294px 6.294px 8.901px -0.8px rgba(0, 0, 0, 0.11),
    16px 16px 22.627px -1px rgba(0, 0, 0, 0.2);
}
