.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero_img {
  width: 54rem;
  height: auto;
  position: absolute;
  inset: 0;
  margin: auto;
  top: 12rem;
  right: 15rem;
}

.hero_blur {
  -webkit-backdrop-filter: blur(2rem);
  -webkit-mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 75%) add;
  backdrop-filter: blur(2rem);
  background: linear-gradient(180deg, #fff0 51%, #ffffff80);
  bottom: 0;
  flex: none;
  height: 40rem;
  left: 0;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 75%) add;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.hero_hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  z-index: 1;
  width: 112rem;
  margin: 0 auto;
}

.hero_left {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero_left_cta1 {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 10rem;
  background: #fff;
  width: fit-content;
  border: 0.1rem solid #f7f7f7;
}

.hero_left_animation {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  animation: pulse-animation 2s infinite;
  border-radius: 50%;
  box-shadow: 0px 0px 0.1rem 0.1rem #00c04788;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 #00c04788;
  }
  100% {
    box-shadow: 0 0 0 0.5rem #00c04700;
  }
}

.hero_left_animationp {
  color: #6c7179;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.24rem; /* 140% */
  letter-spacing: -0.048rem;
}

.hero_left_header {
  color: #111;
  font-family: "Instrument Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12rem;
  width: 44.8rem;
}

.hero_right {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.hero_right_header {
  color: #1f1f1f;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.24rem; /* 140% */
  letter-spacing: -0.048rem;
  width: 41.5rem;
  text-align: justify;
}

.hero_left_animationbtn {
  width: fit-content;
  color: #fff;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.08rem; /* 130% */
  letter-spacing: -0.048rem;
  display: flex;
  padding: 1.35rem 2.25rem;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 1.6rem;
  background-color: #111;
  box-shadow: 0.474px 0.474px 0.671px -0.2px rgba(0, 0, 0, 0.05), 1.291px 1.291px 1.826px -0.4px rgba(0, 0, 0, 0.06),
    2.836px 2.836px 4.01px -0.6px rgba(0, 0, 0, 0.08), 6.294px 6.294px 8.901px -0.8px rgba(0, 0, 0, 0.11),
    16px 16px 22.627px -1px rgba(0, 0, 0, 0.2);
  transition: 0.35s ease-in-out;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: wheat;
    // transform: scale(1.0125);
  }
}

.hero-shadow {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: #ff000044; */
  pointer-events: none;

  img {
    width: 25vmin;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  [data-status="inactive"] {
    display: none;
  }
  [data-status="active"] {
    display: block;
    animation: fadeOut 1s ease-in-out;
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    filter: blur(0.4rem);
  }
  12.5% {
    opacity: 1;
    filter: blur(0rem);
  }
  100% {
    opacity: 0;
    filter: blur(0.4rem);
  }
}
