.words {
  display: flex;
  padding-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
}

.words_heading {
  padding-left: 20rem;
}

.words_header {
  color: #6c7179;
  font-family: "Instrument Sans";
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.32rem; /* 120% */
  letter-spacing: -0.144rem;
}

.words_header2 {
  color: #111;
  font-family: "Instrument Sans";
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.32rem;
  letter-spacing: -0.144rem;
}

.words_words {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 20rem 0 20rem;
  animation: scroll-left 35s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.words_words:hover {
  animation-play-state: paused;
}

.words_card {
  display: flex;
  width: 48rem;
  height: 48rem;
  padding: 2.4rem;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 4rem;
  background: #f7f7f7;
  transition: background-color 0.3s ease;
  transform: 0.3s ease;
}

.words_card:hover {
  background-color: wheat;
}

.word_card_icon {
  width: 2rem;
  height: 2rem;
}

.word_card_word {
  color: #111;
  font-family: "Instrument Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.12rem; /* 130% */
  letter-spacing: -0.12rem;
  margin-top: 1.6rem;
  width: 43.2rem;
  white-space: normal;
}

.word_card_people {
  display: flex;
  align-items: center;
  margin-top: 11.2rem;
  gap: 1.2rem;
}

.word_card_img {
  width: 3.6rem;
  height: 3.6rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
}

.word_card_name {
  color: #1f1f1f;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.24rem; /* 140% */
  letter-spacing: -0.048rem;
}

.word_card_profession {
  color: #6c7179;
  font-family: "Instrument Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.24rem; /* 140% */
  letter-spacing: -0.048rem;
}
