@import "./reset.scss";

$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "../node_modules/include-media/dist/include-media";

//font-family: "Instrument Sans", sans-serif;

html {
  font-size: calc(100vw / 1440 * 10);
  @include media("<phone") {
    font-size: calc(100vw / 430 * 10);
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

[data-desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[data-mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.page,
.app {
  position: relative;
  width: 100vw;
  overflow: clip;

  &#home {
  }
}

@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/footer.scss";
@import "./components/projects.scss";
@import "./components/services.scss";
@import "./components/words.scss";
